@model Kitabchi.Models.SocialLink

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Dashboard/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SocialLink</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Socialİcon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Socialİcon)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
